@model IEnumerable<MovieRentalStore.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!(Model.Any()))
{
    <p>There are no movies yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        @foreach (var movies in Model)
        {
            <tr>
                <td><a href="/Movies/Details/@movies.Id">@movies.Name</a></td>
                <td>@movies.Genre.Name</td>
            </tr>
        }
    </table>
}

