@model MovieRentalStore.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.TypeName</li>
    
    @if (Model.Birthdate != null)
    {
        <li>Birthdate: @((Model.Birthdate.ToString()).Substring(0,9))</li>
    }

</ul>




